@model Savemate.Infrastructure.ApplicationUser

@{
    ViewData["Title"] = "Delete User";
}

<h2>Are you sure you want to delete this user?</h2>

<div class="mb-3">
    <strong>Full Name:</strong> @Model.FirstName  @Model.MiddleName  @Model.LastName
</div>
 

<form asp-action="DeleteConfirm" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
